ion-content ion-toolbar {
  --background: translucent;
}

.img-avatar {
  width: 150px;

  display:block;
  margin:auto;  
}

.margin-Text {
  width: 158px;
  display:block;
  margin:auto;  
}


.margin-actualizar {
  width: 158px;
  display:block;
  margin:auto;  
}
.top-20 {
  margin-top: 20px;
  
}