<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-icon slot="icon-only" name="bonfire" ></ion-icon>
    </ion-buttons>

    <ion-title>
      FotosGram
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
    <!--Refresher-->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" [disabled]="!scrollhabilidado">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <!--posts-->
    <app-posts [posts]="posts"></app-posts>

    <!--Infinist scroll -->

  <ion-infinite-scroll threshold="105px" (ionInfinite)="siguientes($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
